@import "variables";
$fondo:#ff0000;
$primer: #ce5555;
$pcolor:#0000ff;
body{
    // esto es anidamiento
    background-color: $fondo;
    h1{
        background-color: $primer;
        color:$fondo;
    }
    p{
        color:$pcolor;
    }
}