@import "variables";

body{
    // esto es anidamiento
    background-color: $fondo;
    h1{
        background-color: $primer;
        color:$fondo;
    }
    p{
        color:$pcolor;
    }
    div{
        border:1px solid $otra;
        p{
            color: wheat;
        }

    }
}